body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: black;
    padding-top: 0px !important;
  }

p {font-size: 16px; text-align: center;}
.margin {margin-bottom: 15px;}
.margin {margin-left: 50px;}
.margin {margin-right: 50px;}

.container-fluid {
  padding: 0px;
  /*padding-bottom: 70px;*/
}

.nav-title{
  margin-left: 15px;
  margin-right: 15px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 5vw);
    grid-gap: 15px;
}

.marg {
    margin:100px
}
